.Footer{
    width: 100vw;
    background-color: var(--primary-black-color);
}

.Footer_main {
    width: 100%;
    /* height: 90%; */
    /* margin: auto; */
    display: grid;
    grid-template-columns:450px 340px 300px;
    padding: 40px 5rem;
    gap: 20px;
    /* border: 1px solid; */
}



.footer_part_one>p{
    color: var(--secondary-black-color);
}
.footer_part_one>a{
    color: white
}

.Submit_btn{
    position: relative;
    height: 60px;
}

.Submit_btn div{
    width: 55px;
    height: 50px;
    border-radius: 50%;
    background: #396ba9;
}
.Submit_btn h2{
    position: absolute;
    top: 5px;
    left: 10px;
}



.title{
    padding-bottom: 15px;
}


.social_media_icons{
    display: flex;
    gap: 25px;
    font-size: 20px;
}
.social_media_icons a{
    color: white;
}

.explore_content{
    width: 85%;
    /* border: 1px solid; */
}
.explore_content ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2,130px);
    gap: 20px;

}
.explore_content a{
    text-decoration: none;
    color: white;
}


.title{
    font-weight: bold;
}

.copyright{
    width: 100vw;
    height: 35px;
    background: var(--secondary-black-color);
    color: white;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding-left: 30px;
}