.Footer{
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 15px;
    padding: 0 15px;
    color: white;
    height: 350px; */
    width: 100%;
    background-color: var(--primary-black-color);
}

.Footer_main {
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    padding: 40px 0;
    gap: 15px;
}

.Footer_main >div{
    width: 30%;
}

.footer_part_one{
    margin-left: 5rem;
}

.footer_part_one>p{
    color: var(--secondary-black-color);
}
.footer_part_one>a{
    color: white
}

.Submit_btn{
    position: relative;
    height: 60px;
}

.Submit_btn div{
    width: 55px;
    height: 50px;
    border-radius: 50%;
    background: #396ba9;
}
.Submit_btn h2{
    position: absolute;
    top: 5px;
    left: 10px;
}



.social_media_icons{
    display: flex;
    gap: 10px;
}
.social_media_icons a{
    color: white;
}

.explore_content{
    width: 30%;
    /* border: 1px solid; */
}
.explore_content ul{
    /* width: 100%; */
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2,150px);
    row-gap: 5px;
    gap: 20px;
    /* flex-wrap: wrap; */
}
.explore_content a{
    text-decoration: none;
    color: white;
}


.title{
    font-weight: bold;
}

.copyright{
    height: 35px;
    background: var(--secondary-black-color);
    color: white;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding-left: 30px;
}