* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.mobile_app_development {
    background: rgba(24, 24, 24, 1);
    position: relative;
    overflow: hidden;
}

.first_part {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background: url("../../Photos/banner_3.jpg");
    background-size: cover;
    background-position: center;

}

.first_part>h1 {
    font-size: 66px;
    line-height: 99px;
    letter-spacing: 0.16px;
    background: none;
}

.first_part>p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.16px;
    background: none;
    color: white;
}


.secand_part {
    width: 100%;
    background: rgba(24, 24, 24, 1);
    overflow: hidden;
}

.secand_part>p {
    color: #d1d0d0;
    width: 100%;
    text-align: justify;
    text-justify: inter-word;
    padding: 2rem 5rem;
}

/* .info {
    display: flex;
    flex-direction: column;
    background: none;
    background: rgba(24, 24, 24, 1);
}

.info>p {
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    letter-spacing: 0.16;
    word-wrap: break-word;
    background: transparent;
    padding-top: 25px;
    padding-bottom: 30px;
} */


.contaner {
    width: 100%;
    padding: 2rem 5rem;
}

.contaner p {
    text-align: center;
}


.heading {

    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0.16px;
    padding-bottom: 20px;
    background: rgba(24, 24, 24, 1);
}

.heading1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0.16px;
    background: rgba(24, 24, 24, 1);
    position: relative;
}

.heading1::after {
    content: "";
    position: absolute;
    right: -4rem;
    bottom: 1.6rem;
    height: 2px;
    width: 50px;
    background-color: #396ba9;
    display: none;
}

.heading2 {
    font-size: 36px;
    font-weight: 600;
    position: relative;
}

.heading2::after {
    content: "";
    position: absolute;
    right: -2rem;
    bottom: 1.6rem;
    height: 2px;
    width: 50px;
    background-color: #396ba9;
    display: none;
}

.heading3 {
    font-size: 36px;
    font-weight: 600;
    position: relative;
}

.heading3::after {
    content: "";
    position: absolute;
    right: 48%;
    bottom: -1rem;
    height: 2px;
    width: 50px;
    background-color: #396ba9;
    display: none;
}

.heading4 {
    margin-top: 100px;
    font-size: 36px;
    font-weight: 600;
    position: relative;
}

.heading4::after {
    content: "";
    position: absolute;
    right: 0rem;
    bottom: 1rem;
    height: 2px;
    width: 50px;
    background-color: #396ba9;
    display: none;
}

.class2 {
    text-align: center;
}

.product {
    width: 100%;
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    gap: 10%;
    background: rgba(24, 24, 24, 1);
}

.product div {
    width:50%;
    /* height: 500px; */
    margin-top: 20px;
}

.product img {
    width: 100%;
    height: 650px;
    object-fit: contain;
    /* margin-top: 50px; */

}

.divimg1 {
    width: 50% !important;
    height: 600px !important;
    overflow: hidden;
}

.divimg1 img {
    width: 100%;
    object-fit: contain;
    /* margin-top: -3.5rem; */
    margin-left: -1rem;
}

.devimg2 img {
    width: 569px;
    height: 500px;
}


.product .Img_three {
    width: 700px;
    height: 368px;
}

.product_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width:100%;
    /* margin-left: 50px; */
}



.product_info h1 {
    font-size: 43px;
    font-weight: 500;
    margin-top: -1rem;
}

.product_info>p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16;
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
    color: #d1d0d0;
}

.product_info h2 {
    font-size: 18px;
    font-weight: bold;
}

.product_info>ul {
    /* row-gap: 25px; */
    width:100%;
    padding-left: 12px;
}

.product_info>ul>li {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.16px;
    color: #396ba9;
}

.product_info>ul>li p {
    text-align: left;
}


.product_info a {
    width: 25%;
}

.product_info .btn {
    position: relative;
    height: 60px;
    width: 100%;
}

.product_info .btn div {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #396ba9;
}

.product_info .btn h2 {
    position: absolute;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0.16px;
    width: 100%;
    top: 0;
    left: 10px;
}


.main {
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 50px;
    margin-top: 5px;
    /* margin-bottom: 5rem; */
    grid-template-columns: repeat(3, 1fr);
}

.main p{
    text-align: justify;
    text-justify: inter-word;
}

.testimg1 {
    width: 100%;
    display: flex;
    gap: 10px;
}


.main_card2{
    margin-top: 2rem;
}

.harbour {
    display: flex;
    gap: 5rem;
    margin-top: 2rem;
    padding: 2rem 5rem;
    width: 100%;
}

.harbour .design {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,50%);
    justify-content: center;
    margin-top: 2rem;
}

.design div {
    padding: 1rem;
}

.design div h3 {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
}

.card1 {
    width: 100%;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.card2 {
    width: 100%;
    border-bottom: 1px solid;
    margin-top: -12px;
}

.card3 {
    width: 100%;
    border-bottom: 1px solid;
    border-right: 1px solid;
}

.card4 {
    width: 100%;
    border-bottom: 1px solid;
}

.card5 {
    width: 100%;
    border-right: 1px solid;
}




.contaner_card2 img {
    height: 730px;
    width: 840px;

}

.card1 img {
    margin-top: 30px;
    margin-left: 10px;
}

.card1 h1 {
    margin-top: 15px;
    margin-left: 10px;
}

.card1 p {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.card2 img {
    margin-top: 40px;
    margin-left: 10px;
}

.card2 h1 {
    margin-top: 15px;
    margin-left: 10px;
}

.card2 p {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.card3 img {
    margin-top: 30px;
    margin-left: 10px;
}

.card3 h1 {
    margin-top: 15px;
    margin-left: 10px;
}

.card3 p {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.card4 img {
    margin-top: 30px;
    margin-left: 10px;
}

.card4 h1 {
    margin-top: 15px;
    margin-left: 10px;
}

.card4 p {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.card_border_1 {
    border: 2px solid red;
    width: 350px;
    height: 200px;


}

.card_border_1 h3 {
    margin-left: 10px;
}

.card {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
}


.card10 {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.card10 h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
}

.card11 {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.card11 h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
}




.animation {
    width: 100%;
    height:100%;
    margin-top:-350px;
    object-fit: cover;
}


.contaner_card4 {
    position: relative;
    object-fit: cover;
    background: url("../../Photos/banner_3.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
}


.num {
    object-fit: contain;
}


.contaner_card3{
    width: 100%;
    padding-top: 0rem;
    padding-bottom: 0rem;
}
.contaner_card3>.product>div{
    width: 50%;
}


.contaner_card3>.product>div>p{
    width:100%;
}

.product_info1 {
    width: 100%;

}




@media (max-width:1100px) {


    .first_part {
        height: 250px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        background: url("../../Photos/banner_3.jpg");
        background-size: cover;
        background-position: center;

    }

    .first_part>h1 {
        font-size: 26px;
        margin-top: 50px;
        line-height: 30px;
        letter-spacing: 0.16px;
        background: none;
        justify-content: center;
        text-align: center;

    }

    .first_part>p {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.16px;
        background: none;
        color: white;
        justify-content: center;
        text-align: center !important;
    }


    .secand_part {
        width: 100%;
        background: rgba(24, 24, 24, 1);
        overflow: hidden;
    }

    .secand_part>p {
        color: #d1d0d0;
        width: 100%;
        text-align: justify;
        text-justify: inter-word;
        justify-content: center;
        padding:2rem;
    }

    .info {
        display: flex;
        flex-direction: column;
        background: none;
        background: rgba(24, 24, 24, 1);
        
    }

    .info>p {
        font-size: 16px;
        font-weight: 400px;
        line-height: 26px;
        letter-spacing: 0.16;
        word-wrap: break-word;
        background: transparent;
        padding: 2rem;
    }


    .contaner {
        /* gap: 20px; */
        margin-top: 5px;
        /* padding-bottom: 30px; */
        background: rgba(24, 24, 24, 1);
        display: grid;
        grid-template-columns: repeat(1);
        padding: 0;
        height: max-content;
    }

    .contaner p {
        text-align: center;
    }


    .heading {

        font-size: 22px;
        font-weight: 600;
        line-height: 54px;
        letter-spacing: 0.16px;
        padding-bottom: 20px;
        background: rgba(24, 24, 24, 1);
        text-align: center;
        justify-content: center;
    }

    .heading1 {
        font-size: 36px;
        font-weight: 600;
        line-height: 54px;
        letter-spacing: 0.16px;
        background: rgba(24, 24, 24, 1);
        position: relative;
        text-align: center;
        justify-content: center;
    }

    /* .heading1::after {
        content: "";
        position: absolute;
        right: -4rem;
        bottom: 1.6rem;
        height: 2px;
        width: 50px;
        background-color: #396ba9;
        display: none;
    } */

    .heading2 {
        font-size: 22px;
        font-weight: 600;
        position: relative;
        text-align: center;
        justify-content: center;
    }

    /* .heading2::after {
        content: "";
        position: absolute;
        right: -2rem;
        bottom: 1.6rem;
        height: 2px;
        width: 50px;
        background-color: #396ba9;
        display: none;
    } */

    .heading3 {
        font-size: 22px;
        font-weight: 400;
        position: relative;
        text-align: center;
        justify-content: center;
        /* margin-left: 5rem; */
         margin-bottom: 4rem; 
         
         /* border: 1px solid; */
         width: 100%;
    }

    /* .heading3::after {
        content: "";
        position: absolute;
        right: 48%;
        bottom: -1rem;
        height: 2px;
        width: 50px;
        background-color: #396ba9;
        display: none;
    } */

    .heading4 {
        margin-top: 0;
        font-size: 22px;
        font-weight: 600;
        position: relative;
        text-align: center;
        justify-content: center;
    }

    /* .heading4::after {
        content: "";
        position: absolute;
        right: 0rem;
        bottom: 1rem;
        height: 2px;
        width: 50px;
        background-color: #396ba9;
        display: none;
    } */

    .class2 {
        text-align: center;
    }

    .product {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* align-items: center; */
        background: rgba(24, 24, 24, 1);
        text-align: center;
        padding: none;
    }

    .product div {
        width:100% !important;
        height:max-content;
        margin-top: 0%;

    }

    .product img {
        width:100%;
        height:max-content;
        object-fit:cover;
        /* margin-top: 50px; */

    }

    .divimg1 {
        width: 100% !important;
        height:auto !important;
        overflow: hidden;
    }

    .divimg1 img {
        width: 100%;
        height:max-content;
        object-fit: contain;
    }
    .devimg2{
        /* border: 1px solid; */
    }

    .devimg2 img {
        width: 100%;
        object-fit: contain;
    }


    .product .Img_three {
        width: 100%;
        object-fit: contain;
    }

    .product_info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        width:100%; 
        /* margin-left: 50px; */
    }

    .product_info1 {
        width: 100%;
        margin-right: 0;
    }

    .product_info h1 {
        font-size: 22px;
        font-weight: 600;
        margin-top: -1rem;
        margin-right: 0rem;
    }

    .product_info>p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.16;
        font-weight: 400;
        text-align: justify;
        text-justify: inter-word;
        width: 100%;
        color: #d1d0d0;
        padding: 2rem;
    }

    .product_info h2 {
        font-size: 20px;
        font-weight: bold;
        margin-right: 0rem;
    }

    .product_info>ul {

        width: 100%;
        display: flex;
        gap: 0px !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product_info>ul>li {
        font-size: 14px;
        font-weight: 400;
        line-height: 0px;
        letter-spacing: 0.16px;
        color: #396ba9;
        /* border: 1px solid; */
        height: 25px;
    }

    .product_info>ul>li p {
        text-align:left;
        padding: 0rem !important;
    }


    .product_info a {
        width: 25%;
    }

    .product_info .btn {
        position: relative;
        height: 30px;
        width: 100%;
    }

    .product_info .btn div {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #396ba9;
    }

    .product_info .btn h2 {
        position: absolute;
        font-size: 26px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0.16px;
        width: 100%;
        top: 0;
        left: 10px;
    }


    .main {
        width: 100%;
        margin: auto;
        display: grid;
        justify-content: center;
        /* gap: 50px;
        margin-top: 5px; */
        /* margin-bottom: 5rem; */
        grid-template-columns: repeat(1, 290px);
    }

    .testimg1 {
        display: grid;
      grid-template-columns: repeat(2,1fr);
      justify-content: center;
      align-items: center;
        gap: 8px;
    }

    .harbour {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        padding: 2rem;
    }

    .harbour .design {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 290px);
        justify-content: center;
        margin-top: -3rem;
        padding: 0;
        text-align: center;
        justify-content: center;
    }

    .design div {
        padding: 0rem;
    }

    .design div h3 {
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.162793px;
        color: #FFFFFF;
    }

    .card1 {
        /* border-right: 1px solid;
        border-bottom: 1px solid; */
        border: none !important;
    }

    .card2 {
        /* border-bottom: 1px solid;
        margin-top: -12px; */
        border: none !important;
    }

    .card3 {
        /* border-bottom: 1px solid;
        border-right: 1px solid; */
        border: none !important;
    }

    .card4 {
        /* border-bottom: 1px solid; */
        border: none !important;
    }

    .card5 {
        /* border-right: 1px solid; */
        border: none !important;
    }

    .contaner_card2 .product {
        margin-bottom: 2rem;
    }


    .contaner_card2 img {
        height: 290px;
        width: 250px;
        margin-left: 3rem;
        /* margin-top: 9rem; */
        /* border: 1px solid; */
       

    }

    .card1 img {
        margin-top: 30px;
        margin-left: 10px;
    }

    .card1 h1 {
        margin-top: 15px;
        margin-left: 10px;
    }

    .card1 p {
        margin-top: 25px;
        /* margin-left: 10px; */
        /* margin-right: 10rem; */
    }

    .card2 img {
        margin-top: 40px;
        margin-left: 10px;
    }

    .card2 h1 {
        margin-top: 15px;
        margin-left: 10px;
    }

    .card2 p {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .card3 img {
        margin-top: 30px;
        margin-left: 10px;
    }

    .card3 h1 {
        margin-top: 15px;
        margin-left: 10px;
    }

    .card3 p {
        margin-top: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .card4 img {
        margin-top: 30px;
        margin-left: 10px;
    }

    .card4 h1 {
        margin-top: 15px;
        margin-left: 10px;
    }

    .card4 p {
        margin-top: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .card_border_1 {
        border: 2px solid red;
        width: 350px;
        height: 200px;


    }

    .card_border_1 h3 {
        margin-left: 10px;
    }

    .card {
        /* width: 300px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* border: 1px solid ; */
       /* margin-top: 2rem; */
    }



    /* .card h3 {
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.162793px;
        color: #FFFFFF;
    } */

    .card p {
        justify-content: center;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.16;
        font-weight: 400;
        text-align: justify;
        text-justify: inter-word;
        width: 90vw;
        color: #d1d0d0;
        /* margin-left: 1rem; */
        padding: 1rem 1rem;
    }


    .card10 {
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 30px;
    }

    .card h3 {
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.162793px;
        color: #FFFFFF;
        margin: 0%;
    }

    .card11 {
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
    }

    .card11 h3 {
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        justify-content: center;
        text-align: center;
        letter-spacing: 0.162793px;
        color: #FFFFFF;
    }




    .animation {
        width: 100%;
        height:300px;
        margin: 0;
        object-fit: cover;
    }


    .contaner_card4 {
        z-index: 2;
        position: relative;
        object-fit: cover;
        background: url("../../Photos/banner_3.jpg");
        background-size: cover;
        background-position: center;
        width: 100vw;
    }
    .contaner_card4 .main{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        margin-right:0rem;

    }

    
    .num {
        object-fit: contain;
        margin-top: 2rem;

    }

    .contaner_card3 img {
        padding: 0%;
        margin: 0%;
        width: 100%;
        height: fit-content;
        padding: 0% !important;
       
    }

    .contaner_card3 .product3 {
        display: flex;
        flex-direction: column-reverse;
          
    }
    .contaner_card3 .product3 {
        height: max-content;
    }

    .contaner_card3>.product>div>p {
        width: 300px;
    }


    .product3 div {
        width:100%;
        margin-top: 0%;
    }
}