* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: #FFFFFF; */
}

.consulting {
    background: rgba(24, 24, 24, 1);
    position: relative;
}

.first_part {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background: url("../../Photos/banner_3.jpg");
    
}

.first_part>h1 {
    font-size: 66px;
    line-height: 99px;
    letter-spacing: 0.16px;
    background: none;
}

.first_part>p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.16px;
    background: none;
}


.secand_part {
    width: 100%;
    margin: auto; 
    background: rgba(24, 24, 24, 1);
    width: 90%;

}

.info {
    display: flex;
    flex-direction: column;
    background: none;
    background: rgba(24, 24, 24, 1);
}

.info>p {
    font-size: 26px;
    font-weight: 400px;
    line-height: 26px;
    letter-spacing: 0.16;
    word-wrap: break-word;
    background: transparent;
    padding-top: 25px;
    padding-bottom: 30px;
}


.contaner {
    padding-bottom: 30px;
    background: rgba(24, 24, 24, 1);
}


.heading {
    font-size: 26px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0.16px;
    padding-bottom: 20px;
    background: rgba(24, 24, 24, 1);
}

.design {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap:80px;
    margin-left: 5px;
    
}

 .newmain {
    width: 100%;
    margin: auto;
    display: grid;
    justify-content: center;
    gap: 30px;
    margin-top: 5rem;
    /* grid-template-columns: repeat(3, 300px); */
}

.main>.card img {
    width: 90%;
    height: 200px;
    object-fit: fill;
}

.main>.card>p{
    width: 100%;
    height: 120px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.card>h3{
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
letter-spacing: 0.162793px;
text-align: left;
}

.harbour {
    background-color: none;
    display: flex;
    /* background: url("../../Photos/banner_2.png"); */
}
.main {
    width: 900px;
    justify-content: center;
    position:relative;
    gap: 100px;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: auto;

}


.card1>p{
    width: 100%;
    height: 120px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.card1>h3{
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
letter-spacing: 0.162793px;
text-align: left;
}

.card2 {
    margin-top: 20px;
}

.card2>p{
    width: 100%;
    height: 120px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.card2>h3{
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
letter-spacing: 0.162793px;
text-align: left;
}

.card3{
    margin-top: 20px;
}
.card3>p{
    width: 100%;
    height: 120px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.card3>h3{
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
letter-spacing: 0.162793px;
text-align: left;
}
.card4>p{
    width: 100%;
    height: 120px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.card4>h3{
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
letter-spacing: 0.162793px;
text-align: left;
}
.card5>p{
    width: 100%;
    height: 120px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.card5>h3{
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
letter-spacing: 0.162793px;
text-align: left;
}
.card6>p{
    width: 100%;
    height: 120px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.card6>h3{
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
letter-spacing: 0.162793px;
text-align: left;
}
.card7>p{
    width: 100%;
    height: 120px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.card7>h3{
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
letter-spacing: 0.162793px;
text-align: left;
}

.card8 {
    margin-top: 20px;
}
.card8>p{
    width: 100%;
    height: 120px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.card8>h3{
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
letter-spacing: 0.162793px;
text-align: left;
}
.card9>p{
    width: 100%;
    height: 120px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.card9>h3{
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
letter-spacing: 0.162793px;
text-align: left;
}
.class1 {
    width: 350px;
}

.card10>h3{
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
letter-spacing: 0.162793px;
text-align: left;
}
.card11>p{
    width: 100%;
    height: 120px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.card11>h3{
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
letter-spacing: 0.162793px;
text-align: left;
}
.card12>p{
    width: 100%;
    height: 120px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.card12>h3{
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
letter-spacing: 0.162793px;
text-align: left;
}
.card13>p{
    width: 100%;
    height: 120px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.card13>h3{
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
letter-spacing: 0.162793px;
text-align: left;
}
