* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container {
    padding-top: 2 rem;
    padding-bottom: 2 rem;
    padding-left:2 rem ;
    padding-right:2 rem ;
    
} */

.video_contaner {
    width: 300px;
    height: 400px;
    display: flex;
}

.about {
    background: #181818;
}

.main {
    width: 100%;
    /* margin: auto; */
}

header {
    width: 100%;
    height: 400px;
    background: url("../../Photos/banner_2.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header>h1 {
    font-weight: 600;
    font-size: 66px;
    line-height: 99px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
}

header>p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
}



.top_part {
    text-align: center;
    margin-top: 5%;

}

.top_part h1 {
    font-size: 20px;
}


.first_part {
    width: 100%;
    margin: auto;
    padding: 2rem 5rem;
}


.first_part_main {
    width: 100%;
    height: 400px;
    display: flex;
    gap: 30px;
    align-items: center;
    /* background: #181818; */
}

.first_part_main>div {
    width: 560px;
}

/* .first_part_main>.video_contaner{
    width: 150%;
    height: auto;
} */
.first_part_main>.video_contaner>video {
    width: 100%;
}



.first_part .title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    margin-bottom: -2rem;
}

.first_part .heading {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    margin-bottom: 0rem;
}


.first_part .company_info p {
    word-wrap: break-word;
    color: gray;
}



.secend_part {
    padding: 2rem 5rem;
    background: rgba(33, 33, 33, 1);

}

.secend_part_main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.secend_part_main>div {
    display: flex;
    flex-direction: column;
    width: 570px;
    height: 450px;
}

.secend_part_main>div img {
    width: 230px;
    height: 235px;
    margin: auto;
}

.secend_part_main p {
    color: gray;
}


.secend_part_main .heading {
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    margin-bottom: 0rem;
}

/* .subVission {
    margin-top: 30px;
} */

/* .secend_section {
    padding-top: 6rem;
    width: 600px;
} */




.Submit_btn {
    position: relative;
    height: 40px;
    width: 120px;
}

.Submit_btn div {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #396ba9;
    top: 0;
    right: 0;
}

.Submit_btn h2 {
    position: absolute;
    top: -1.5rem;
    left: 0;
    font-size: 20px;
}



.four_part {
    width: 100%;
    height: 700px;
}

.four_part_main {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 20px;
}

.four_part_main>.first_section {
    width: 600px;
    margin-top: 5rem;
}

.four_part_main>.first_section li {
    margin-top: 10px;
    margin-left: 30px;
}

.four_part_main>.first_section p {
    margin-top: 15px;
}


.four_part_main>.secend_section {
    width: 600px;
}

.four_part_main>.secend_section img {
    width: 100%;
    height: 400px;
}

.four_part_main>.secend_section li {
    margin-left: 30px;
}

.four_part_main>.secend_section p {
    margin-top: 10px;
}







.totalVector {
    margin: auto;
    width: 100%;
    height: 800px;
    padding: 2rem 5rem;
    background: rgba(14, 14, 14, 1);

}

.finalvector {
    display: flex;
    gap: 2rem;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

}

.firstVector {
    width: 550px;
    height: 60%;
    display: flex;
    position: relative;
}

.firstVector>img {
    width: 100%;
    height: 100%;
}


.lastVector {
    width: 50%;
    height: 70%;

}

.headtag10 {
    font-weight: 600;
    font-size: 25px;
    line-height: 54px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
}

.headtag11 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.headtag11>p {
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
}

.lists {
    color: white;
    list-style: disc;
}








.navbar1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(57, 107, 169, 1);
    position: absolute;
    top: -4rem;
    right: 1rem;
}

.navbar2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(57, 107, 169, 1);
    position: absolute;
    bottom: -4rem;
    left: 0;
}

.navbar3 {
    position: absolute;
    width: 10px;
    height: 10px;
}




.methodology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    padding: 2rem 5rem;
}

.methodology1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    text-align: justify;
    text-justify: inter-word;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
}

.methodology2 p{
    font-weight: 500;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0.162793px;
    text-align: justify;
    text-justify: inter-word;
    color: #A3A3A3;
}

.methodology ul {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2rem 0;
}



.five_part {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem;
}

.five_first_part h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 3rem;
    
}

.five_part img {
    width: 1022px;
    height: 585px;
}

/* .five_first_part {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 3rem;
} */

