* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container {
    padding-top: 2 rem;
    padding-bottom: 2 rem;
    padding-left:2 rem ;
    padding-right:2 rem ;
} */


.about {
    background: #181818;
}
.main {
    width: 100%;
    /* margin: auto; */
}

header {
    width: 100%;
    height: 400px;
    background: url("../../Photos/banner_2.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header>h1 {
    font-weight: 600;
    font-size: 66px;
    line-height: 99px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
}

header>p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
}


.top_part {
    text-align: center;
    margin-top: 5%;
}


.Submit_btn{
    position: absolute;
    height: 60px;
    margin-left: 5px;

}

.Submit_btn div{
    width: 55px;
    height: 50px;
    border-radius: 50%;
    background: #396ba9;
}
.Submit_btn h2{
    position: absolute;
    top: 5px;
    left: 10px;
    color: white;
}

.first_part{
    width: 90%;
    margin: auto;
}

.first_part_main{
    width: 100%;
    height: 400px;
    display: flex;
    gap: 30px;
    align-items: center;
    /* background: #181818; */
}

.first_part_main>.video_contaner{
    width: 50%;
    height: auto;
}
.first_part_main>.video_contaner>video{
    width: 500px;
}

.first_part>.company_info{
    width: 40%;
}

.first_part>.company_info>p{
    width: 40%;
    word-wrap: break-word;

}


.secend_part_main{
   width: 100%;
   margin: auto;
    display: grid;
    justify-content:space-around;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    position: relative;
    margin-top: 3%;
    align-items: center;
    
    
    
}

.secend_part_main>div{
    text-align: center;
}
.Mission{
    padding: 30px;
}
.Vision {
    padding: 30px;
}

.subVission {
    margin-top: 30px;
}

.secend_section{
    padding-top: 6rem;
    width: 600px;
}




.four_part{
    width: 100%;
    height: 700px;
}

.four_part_main{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 20px;
}

.four_part_main>.first_section{
    width: 600px;
    margin-top: 5rem;
}
.four_part_main>.first_section li{
    margin-top: 10px;
    margin-left: 30px;
}

.four_part_main>.first_section p{
    margin-top: 15px;
}


.four_part_main>.secend_section{
    width: 600px;
}

.four_part_main>.secend_section img{
    width: 100%;
    height: 400px;
}

.four_part_main>.secend_section li{
    margin-left: 30px;
}

.four_part_main>.secend_section p{
    margin-top: 10px;
}

        
.Submit_btn {
    position: absolute;
    height: 60px;
    /* border:dashed; */
    width: 150px;
    margin-left: 150px;

}

.Submit_btn div {
    width: 55px;
    height: 50px;
    border-radius: 50%;
    background: rgba(57, 107, 169, 1);
}

.Submit_btn h2 {
    position: absolute;
    top: 5px;
    left: 10px;
    color: white;
}




.totalVector{
    box-sizing: border-box;
    margin: auto;
    width: 90%; 
    height: 700px;
    position: relative;
    justify-content: space-around;
    background-color: #181818;
}

.finalvector {
    display: flex;
     gap: 90px; 
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;

}
.firstVector {
    width: 60%;
    height: 100%;
    margin-top: 250px;
    display: flex;
    position: relative;
}
.firstVector>img {
    width: 500px;
    height: 300px;

}


.lastVector {
    width: 70%;
    height: 70%;
    padding-top: 1rem;
    padding-left: 10px;
    margin-top: 20px;
}

.headtag10 {
    font-weight: 600;
    font-size: 25px;
    line-height: 54px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
}
.headtag11 {
    margin-top: 3%;

}
.last_part {
    margin-left: 4rem;
}







.navbar1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(57, 107, 169, 1);
    position: absolute;
    top: -45px;
    right: 25px;
}

.navbar2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(57, 107, 169, 1);
    position: absolute;
    bottom: 260px;
}

.navbar3 {
    position: absolute;
    width: 10px;
    height: 10px;
}




.methodology {
    background-color: black;
    padding: 0.5px;
 
} 
.methodology1 {
    margin-top: 5%;
    text-align: start;
    margin-left: 50px;
}
.methodology2 {
     margin-top: 30px;
    text-align: center;
}
.methodology3 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 20px;
    gap: 10px;
    margin-left: 10rem; 
    margin-bottom: 5rem;
}



.five_part{
    width: 100%;
}
.five_part img{
    width: 100%;
}
.five_first_part {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 3rem;
}
.five_last_part {
    margin-bottom: 10px;
}
