* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* carousel  */


.home_first_part {
    width: 100%;
    height: 650px;
    position: relative;
    background-color: #333;
    overflow: hidden;
}

.carousel_container {
    width: 100%;
    height: 100%;
    position: relative;
}



.carousel_container .title {
    color: white;
    position: absolute;
    display: flex;
    z-index: 3;
    top: 10rem;
    left: 18rem;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 0.16px;
    text-align: center;
    justify-content: center;
    width: 900px;
}


.carousel_container .subTitle{
    color: white;
    position: absolute;
    z-index: 3;
    top: 25rem;
    left: 6rem;
    width: 300px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}


.carousel_container .know_more{
    position: absolute;
    bottom: 5rem;
    width: 250px;
    left: 46%;
} 






.custom-arrow {
    position: absolute;
    top: 10rem;
    right: 3rem;
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border: 1px solid ;
  }
  
  .custom-arrow-prev {
    left: 10px;
  }
  
  .custom-arrow-next {
    right: 10px;
  }
  
  /* .custom-arrow:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  } */
  

/* carousel  */



/* chatbot */


.Chatbot{
    position: fixed;
    z-index: 10;
    top: 10rem;
    right: 2rem;
}


/* features */

.home_secend_part {
    background-color: #333;
}


.features {
    position: relative;
    width: 100%;
    /* height: 1000px; */
    padding: 2rem 5rem;
    background-color: #171717;
}


.features .title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    font-weight: 400;
    color: #808080;
    margin-bottom: -1.5rem;
    
}


.features_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features_top>h1 {
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.16px;
    font-weight: 600px;
    width: 401px;
    color: #FFFFFF;
}

.features_top .info {
    width: 600px;
    margin-top: 15px;
}

.features_top .info>p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.162793px;
    word-wrap: break-word;
    margin-bottom: 10px;
    color: white;
}



.know_more {
    position: relative;
}

.know_more .know_more_btn {
    position: relative;
    height: 60px;
}

.know_more .know_more_btn div {
    width: 55px;
    height: 50px;
    border-radius: 50%;
    background: #396ba9;
}

.know_more .know_more_btn h2 {
    position: absolute;
    top: -0.5rem;
    left: 10px;
    color: white;
    font-size: 20px;
}


.card_contaner {
    display: flex;
    gap: 5rem;
    width: 100%;
}

.card_contaner .card {
    width: 400px;
}

.card_contaner .card h1:hover{
cursor: pointer;
}

.card_contaner .card_2 {
    margin-top: 10rem;
}


.card_contaner .card_3 {
    margin-top: 20rem;
}

.card_contaner .card img {
    object-fit: cover;
}

.card_contaner .card h1 {
    height: 54px;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.162793px;
    color: white;
}



.View_All_Services {
    position: absolute;
    width: 200px;
    bottom: 15rem;
    left: 5rem;
}

.setting_icon {
    position: absolute;
    top: 16rem;
    right: 5rem;
}


/* features */


/* Technology */


.Technology{
    width: 100%;
    /* height: 600px; */
    position: relative;
    padding: 2rem 5rem;
}


.Technology .title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    font-weight: 400;
    color: #808080;
}


.Technology .technology_contaner {
    display: flex;
    justify-content: space-between;
}

.technology_contaner .technology_left {
    width: 350px;
}

.technology_contaner .technology_left h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    word-wrap: break-word;
}

.technology_contaner .technology_left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
}


.technology_right {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 4rem;
    row-gap: 20px;
    padding: 15px 10px;
}



.technology_right div {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    cursor: pointer;
    align-items: center;
}

.technology_right .logo {
    font-size: 40px;
    color: white;
    transition: all 0.5s ease-in-out;
}

.technology_right p {
    color: white;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
}

.technology_right div:hover .logo,
.technology_right div:hover p {
    transform: scale(1.5);
}


.Technology .technology_icon {
    width: 130px;
    position: absolute;
    bottom: 0;
    left: 10rem;
}


/* Technology */



/* About_us */

.About_us {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5rem;
    position: relative;
    background-color: #171717;
    padding: 2rem 5rem;
    background-image: url("../../Photos/Home/Why\ choose\ techmapperz-min.gif");
    overflow: hidden;
    background-size: cover;
    background-position: center;
    position: relative;
}

.About_us::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the 0.5 value to control the opacity of the black layer */
    z-index: 1;
}

.About_us .about_left {
    width: 400px;
    height: 470px;
    position: relative;
    margin-top: 7rem;
    position: relative;
    z-index: 2;
}

.About_us .about_left img {
    position: absolute;
}

.About_us .about_left .Circul_1{
    top: -3rem;
    right: 3.5rem;
}
.About_us .about_left .Circul_2{
    bottom: 1rem;
}

.About_us .about_left .about_img_1{
    width: 350px;
}

.About_us .about_left .about_img_2{
    width: 350px;
    top: 8rem;
    left: 10rem;
}

.About_us .about_right{
    margin-top: 15rem;
    width: 500px;
    position: relative;
    z-index: 2;
}

.About_us .about_right .title{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    font-weight: 400;
    color: #808080;
}

.About_us .about_right .about_right_contener{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.About_us .about_right .about_right_contener h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    word-wrap: break-word;
}

.About_us .about_right .about_right_contener p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
}

.About_us .about_right .about_us_drone{
    width: 100px;
    position: absolute;
    top: -10rem;
    right: 0;
}

/* About_us */




/* Brand Partners */

.Brand_Partners{
    width: 100%;
    height: 250px;
    gap: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(52, 52, 52);
}

.Brand_Partners_left{
    width: 60%;
    margin-top: -1.5rem;
}


.Brand_Partners_right{
    width: 40%;

}


.Brand_Partners .Brand_Partners_right p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.162793px;
    color: #808080;
    margin-bottom:-1rem
}

.Brand_Partners .Brand_Partners_right h1{
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    word-wrap: break-word;
}
.Brand_Partners .Brand_Partners_right img{
    width: 180px;
    margin-top: -1rem;
}


/* Brand Partners */


/* our_blog */


.our_blog{
    width: 100%;
    padding: 2rem 5rem;
    display: flex;
    gap: 5rem;
}


.our_blog .our_blog_left{
    margin-top: 3rem;
    width: 40%;
}

.our_blog .our_blog_left p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.162793px;
    color: #808080;
}

.our_blog .our_blog_left h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    word-wrap: break-word;
}


.our_blog .our_blog_right{
    margin-top: 2rem;
}

.our_blog .our_blog_right .our_blog_right_contaner{
    display: flex;
    justify-content: space-between;
    border: 1px solid #396ba9;
}


.our_blog .our_blog_right .our_blog_right_oen{
    border-bottom: 1px solid #396ba9;
    border-right: 1px solid #396ba9;
    width: 30%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our_blog .our_blog_right .our_blog_right_oen p{
    font-weight: 400;
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
}

.our_blog .our_blog_right .our_blog_right_two{
    border-bottom: 1px solid #396ba9;
    width: 70%;
    height: 150px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.our_blog .our_blog_right .our_blog_right_two h1{
    font-weight: 400;
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 0.162793px;
    text-decoration: underline;
    cursor: pointer;
    color: #FFFFFF;
}

.our_blog .our_blog_right .our_blog_right_two p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
}

.our_blog .our_blog_right .our_blog_know_more{
    margin-top: 2rem;
}

/* our_blog */



/* Testimonial */

.Testimonial{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem;
    margin: auto;
    background-image: url("../../Photos/Home/Testimonial.gif");
    overflow: hidden;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(15px);
    position: relative;
    
}


.Testimonial::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);     
    z-index: 1;
   
}




.Testimonial .Carousel{
    width: 65%;
    position: relative;
    z-index: 2;
}



.Testimonial>p{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.162793px;
    color: white;
    margin-bottom: -1rem;
    z-index: 10;
}



.Testimonial h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    word-wrap: break-word;
    z-index: 10;
}

.Testimonial .card{
    margin: auto;
    text-align: left;
    /* margin-top: 2rem; */
    width: 100%;
}

.Testimonial .card  img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit:fill;
}

.Testimonial .card .client{
    margin-top: 1rem;
    display: flex;
    gap: 10px;
    color: white;
}

.Testimonial .card h2{
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: left;
    padding-bottom: 25px;
    color: white;
}

.Testimonial .card p{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.162793px;
    color: white;
}





/* media query starting  */





@media (max-width: 1200px) {
    .About_us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* height: 750px; */
        gap: 5rem;
        position: relative;
        background-color: #171717;
        padding: 2rem 5rem;
    }
}


@media (max-width:720px) {
    .slider .title{
        font-size: 20px;
        width: 300px;
        right: 2rem;
        top: 5rem;
    }
    .features_top>h1{
        font-size: 26px;
    }

    .features_top .info{
        width: 80%;
    }

    .features_top .info>p{
        font-size: 16px;
    }

    .features_top{
        flex-direction: column;
    }


    .card_contaner .card_2 {
        margin-top: 7rem;
    }
    .card_contaner .card_3 {
        margin-top: 15rem;
    }

    .View_All_Services {
        position: absolute;
        width: 180px;
        font-size: 16px;
        bottom: 10rem;
        left: 5rem;
    }

    .card_contaner .card h1 {
        height: 54px;
        font-weight: 600;
        font-size: 20px;
        line-height: 54px;
        letter-spacing: 0.162793px;
        color: white;
    }

    .setting_icon {
        position: absolute;
        top: 25rem;
        right: 5rem;
    }

    /* Technology */

    .Technology .technology_contaner {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }

    .Technology .technology_icon {
        width: 130px;
        position: absolute;
        bottom: 0;
        margin-left: 17rem;
    }

    .About_us .about_left .about_img_1{
        width: 300px;
    }
    .About_us .about_left .about_img_2{
        width: 300px;
        top: 8rem;
        left: 10rem;
    }
    .About_us .about_left .Circul_1{
        width: 150px;
        right: 7rem;
    }

    .About_us .about_left .Circul_2{
        width: 150px;
        bottom: 5rem;
    }

    /* Brand_Partners */
    .Brand_Partners .Brand_Partners_right h1{
        font-weight: 400;
        font-size: 20px;
        line-height: 54px;
        letter-spacing: 0.162793px;
        color: #FFFFFF;
        word-wrap: break-word;
    }


    /* our_blog */
    .our_blog{
        width: 100%;
        padding: 2rem 5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: #171717;
    }

    .our_blog .our_blog_right .our_blog_right_two h1{
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.162793px;
        text-decoration: underline;
        cursor: pointer;
        color: #FFFFFF;
    }
    .our_blog .our_blog_right .our_blog_right_two p{
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.162793px;
        color: #FFFFFF;
    }
    .our_blog .our_blog_left h1{
        font-weight: 400;
        font-size: 30px;
        line-height: 54px;
        letter-spacing: 0.162793px;
        color: #FFFFFF;
        word-wrap: break-word;
    }

    .our_blog .our_blog_right .our_blog_right_oen p{
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.162793px;
        color: #FFFFFF;
    }
    
}