* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* carousel  */


.home_first_part {
    width: 100%;
    position: relative;
    background-color: #333;
    overflow: hidden;
}

.carousel_container {
    width: 100%;
    position: relative;
}



.carousel_container .title {
    color: white;
    position: absolute;
    display: flex;
    z-index: 3;
    top: 13rem;
    left: 18rem;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 0.16px;
    text-align: center;
    justify-content: center;
    width: 900px;
}


.carousel_container .subTitle {
    color: white;
    position: absolute;
    z-index: 3;
    bottom: 8rem;
    left: 6rem;
    width: 450px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    border-left: 6px solid #396ba9;
    padding-left: 10px;
}


.carousel_container .know_more {
    position: absolute;
    bottom: 5rem;
    width: 250px;
    left: 46%;
}






.custom_arrow {
    position: absolute;
    top: 30rem;
    right: 3rem;
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.custom_arrow_prev {
    right: 15rem;
    font-size: 60px;
}

.custom_arrow_next {
    font-size: 60px;
    right: 10rem;
}

.custom_arrow[disabled] {
    color: gray;
    cursor: not-allowed;
}


/* carousel  */





/* features */

.home_secend_part {
    background-color: #333;
}


.features {
    position: relative;
    width: 100%;
    /* height: 1000px; */
    padding: 2rem 5rem;
    background-color: #171717;
}


.features .title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    font-weight: 400;
    color: #808080;
    margin-bottom: -1.5rem;

}


.features_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features_top>h1 {
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.16px;
    font-weight: 600px;
    width: 401px;
    color: #FFFFFF;
}

.features_top .info {
    width: 640px;
    margin-top: 2rem;
}

.features_top .info>p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.162793px;
    word-wrap: break-word;
    margin-bottom: 10px;
    color: white;
}



.know_more {
    position: relative;
}

.know_more .know_more_btn {
    position: relative;
    height: 60px;
}

.know_more .know_more_btn div {
    width: 55px;
    height: 50px;
    border-radius: 50%;
    background: #396ba9;
}

.know_more .know_more_btn h2 {
    position: absolute;
    top: -0.5rem;
    left: 10px;
    color: white;
    font-size: 20px;
}


.card_contaner {
    display: flex;
    gap: 5rem;
    width: 100%;
}

.card_contaner .card {
    width: 400px;
}

.card_contaner .card h1:hover {
    cursor: pointer;
}

.card_contaner .card_2 {
    margin-top: 10rem;
}


.card_contaner .card_3 {
    margin-top: 20rem;
}

.card_contaner .card img {
    object-fit: cover;
}

.card_contaner .card h1 {
    height: 54px;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.162793px;
    color: white;
}



.View_All_Services {
    position: absolute;
    width: 200px;
    bottom: 15rem;
    left: 5rem;
}

.setting_icon {
    position: absolute;
    top: 16rem;
    right: 5rem;
}


/* features */


/* Technology */


.Technology {
    width: 100%;
    position: relative;
    padding: 2rem 5rem;
    background-color: #171717;
}


.Technology .title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    font-weight: 400;
    color: #808080;
}


.Technology .technology_contaner {
    display: flex;
    justify-content: space-between;
}

.technology_contaner .technology_left {
    width: 30%;
}

.technology_contaner .technology_left h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    word-wrap: break-word;
    margin-top: 0rem;
}

.technology_contaner .technology_left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    border-left: 6px solid #396ba9;
    padding-left: 10px;
}


.technology_right {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 4rem;
    row-gap: 20px;
    padding: 15px 10px;
}



.technology_right div {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    cursor: pointer;
    align-items: center;
}

.technology_right .logo {
    font-size: 60px;
    color: white;
    transition: all 0.5s ease-in-out;
}

.technology_right p {
    color: white;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
}

.technology_right div:hover .logo,
.technology_right div:hover p {
    transform: scale(1.5);
}


.Technology .technology_icon {
    width: 130px;
    position: absolute;
    bottom: 0;
    left: 10rem;
}


/* Technology */



/* About_us */

.About_us {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 800px;
    gap: 5rem;
    position: relative;
    background-color: #171717;
    padding: 2rem 5rem;
    background-image: url("../../Photos/Home/Why\ choose\ techmapperz-min.gif");
    overflow: hidden;
    background-size: cover;
    background-position: center;
    position: relative;
}

.About_us::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1;
}

.About_us .about_left {
    width: 40%;
    height: 470px;
    position: relative;
    margin-top: 7rem;
    position: relative;
    z-index: 2;
}

.About_us .about_left img {
    position: absolute;
}

.About_us .about_left .Circul_1 {
    top: -3rem;
    right: 5.5rem;
}

.About_us .about_left .Circul_2 {
    bottom: -6.5rem;
}

.About_us .about_left .about_img_1 {
    width: 465px;
}

.About_us .about_left .about_img_2 {
    width: 380px;
    top: 8rem;
    right: -10rem;
}

.About_us .about_right {
    margin-top: 10rem;
    width: 45%;
    position: relative;
    z-index: 2;
}

.About_us .about_right .title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    font-weight: 400;
    color: #808080;
    margin-bottom: -1rem;
}

.About_us .about_right .about_right_contener {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.About_us .about_right .about_right_contener h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    margin-bottom: -0.5rem;
}

.About_us .about_right .about_right_contener p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    text-align: justify;
    text-justify: inter-word;
}

.About_us .about_right .about_us_drone {
    width: 100px;
    position: absolute;
    top: -10rem;
    right: 0;
}

/* About_us */




/* Brand Partners */

.Brand_Partners {
    width: 100%;
    height: 300px;
    gap: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
}

.Brand_Partners_left {
    width: 60%;
    margin-top: -1.5rem;
}


.Brand_Partners_right {
    width: 40%;
}


.Brand_Partners .Brand_Partners_right p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.162793px;
    color: #808080;
    margin-bottom: -1rem
}

.Brand_Partners .Brand_Partners_right h1 {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    word-wrap: break-word;
}

.Brand_Partners .Brand_Partners_right img {
    width: 180px;
    margin-top: -1rem;
    margin-left: 3rem;
    transform: scale(1.5);
}


/* Brand Partners */





/* Testimonial */

.Testimonial {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem;
    /* margin: auto; */
    background-color: black;
    /* background-image: url("../../Photos/Home/Testimonial.gif");
    overflow: hidden;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(15px); */
    position: relative;

}


/* .Testimonial::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);     
    z-index: 1;
   
} */




.Testimonial .Carousel {
    width: 80%;
    position: relative;
    z-index: 2;
}










.Testimonial>p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.162793px;
    color: white;
    margin-bottom: -1rem;
    z-index: 1;
}



.Testimonial h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
    word-wrap: break-word;
    z-index: 1;
}

.Testimonial .card {
    margin: auto;
    text-align: left;
    /* margin-top: 2rem; */
    width: 100%;
}

.Testimonial .card img {
    width: 55px;
    height: 55px;
    object-fit: fill;
}

.Testimonial .card .client img {
    width: 55px;
    height: 55px;
    border: 6px solid #396ba9;
    object-fit: fill;
}

.Testimonial .card .client {
    margin-top: 1rem;
    display: flex;
    gap: 10px;
    color: white;
}

.Testimonial .card .client .name {
    font-size: 18px;
    margin-bottom: 0px;
}

.Testimonial .card h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: left;
    padding-bottom: 25px;
    color: white;
}

.Testimonial .card p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.162793px;
    color: white;
}

.custom_arrow2{
    position: absolute;
    top: 13rem;
    right: 6rem;
    cursor: pointer;
}

.custom_arrow_prev2{
    right: 10rem;
    font-size: 50px;
}

.custom_arrow_next2{
    font-size: 50px;
}



/* media query starting  */







@media (max-width:1100px) {


/* Carousel */

    .carousel_container .title {
        color:white;
        position: absolute;
        z-index: 3;
        top: 2rem;
        left: -15rem;
        font-size: 18px;
        font-weight:bold;
        width: 200px;
    }
    
    
    .carousel_container .subTitle {
        color: white;
        position: absolute;
        z-index: 3;
        bottom: 1rem;
        left: 0rem;
        width: 150px;
        font-size: 6px;
        font-weight: 600;
        text-align: left;
        border-left: 6px solid #396ba9;
        padding-left: 10px;
        /* display: none; */
    }
    
    
    .carousel_container .know_more {
        position: absolute;
        bottom: 0rem;
        width: 250px;
        left: 46%;
    }

    
    .custom_arrow {
        position: absolute;
        top: 30rem;
        right: 3rem;
        color: white;
        border: none;
        font-size: 24px;
        padding: 10px;
        cursor: pointer;
        z-index: 10;
    }
    
    .custom_arrow_prev {
        right: 5rem;
        font-size: 60px;
    }
    
    .custom_arrow_next {
        font-size: 60px;
        right: 4rem;
    }
    
    .custom_arrow[disabled] {
        color: gray;
        cursor: not-allowed;
    }


    /*features */

    .features {
        position: relative;
        width: 100%;
        padding: 10px;
        padding-bottom: 2rem;
        background-color: #171717;
    }

    .slider .title {
        font-size: 20px;
        width: 300px;
        right: 1rem;
        top: 2rem;
    }

    .features_top>h1 {
        font-size: 20px;
        width: 100%;
    }

    .features_top .info {
        width: 100%;
    }

    .features_top .info>p {
        font-size: 16px;
    }

    .features_top {
        flex-direction: column;
    }

    .features .card_contaner {
        flex-direction: column;
       margin-top: 1rem;
        align-items: center;
        gap: 10px;
    }

    .know_more .know_more_btn {
        position: relative;
        height: 40px;
    }
    
    .know_more .know_more_btn div {
        width: 35px;
        height: 30px;
        border-radius: 50%;
        background: #396ba9;
    }
    
    .know_more .know_more_btn h2 {
        position: absolute;
        top: -10px;
        left: 10px;
        color: white;
        font-size: 16px;
    }
    
    .setting_icon {
        position: absolute;
        top: 5rem;
        right: 2rem;
        width: 20%;
    }

    .features .card{
        width: 100%;
        margin: 0;
    }

    .features .card h1{
        font-size: 20px;
    }

    .View_All_Services {
        position: absolute;
        width: 200px;
        bottom: 1rem;
        left: 10px;
    }

    /* Technology */

    .Technology {
        width: 100%;
        position: relative;
        padding: 10px;
    }
    
    
    .Technology .title {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.16px;
        font-weight: 400;
        color: #808080;
    }
    
    
    .Technology .technology_contaner {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .technology_contaner .technology_left {
        width: 100%;
    }
    
    .technology_contaner .technology_left h1 {
        font-weight: bold;
        font-size: 26px;
        line-height: 54px;
        letter-spacing: 0.162793px;
        color: #FFFFFF;
        word-wrap: break-word;
        margin-top: 0rem;
    }
    
    .technology_contaner .technology_left p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.162793px;
        color: #FFFFFF;
        border-left: 6px solid #396ba9;
        padding-left: 10px;
    }
    
    
    .technology_right {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 50px);
        justify-content: space-between;
        gap: 10px;

    }
    
    
    
    .technology_right div {
        display: flex;
        flex-direction: column;
        row-gap: 7px;
        cursor: pointer;
        align-items: center;
    }
    
    .technology_right .logo {
        font-size: 30px;
        color: white;
        transition: all 0.5s ease-in-out;
    }
    
    .technology_right p {
        color: white;
        font-size: 14px;
        transition: all 0.5s ease-in-out;
    }
    
    .technology_right div:hover .logo,
    .technology_right div:hover p {
        transform: scale(1.4);
    }
    
    
    .Technology .technology_icon {
        width: 60px;
        position: absolute;
        bottom: 0;
        left: 13rem;
    }



    /* About us */

    .About_us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #171717;
        padding: 10px;
        background-image: url("../../Photos/Home/Why\ choose\ techmapperz-min.gif");
        overflow: hidden;
        background-size: cover;
        background-position: center;
    }
    
    .About_us::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        z-index: 1;
    }
    
    .About_us .about_left {
        width: 100%;
        padding-left: 10px;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 5rem;
        position: relative;
        z-index: 2;
        
    }
    
    .About_us .about_left img {
        position: absolute;
    }
    
    .About_us .about_left .Circul_1 {
        top: -2rem;
        right: 8.3rem;
        width: 90px;
    }
    
    .About_us .about_left .Circul_2 {
        bottom: 13.5rem;
        width: 90px;
    }
    
    .About_us .about_left .about_img_1 {
        width: 200px;
    }
    
    .About_us .about_left .about_img_2 {
        width: 200px;
        top: 4rem;
        left: 8rem;
    }
    
    .About_us .about_right {
        margin-top: -10rem;
        width: 100%;
        position: relative;
        z-index: 2;
    }
    
    .About_us .about_right .title {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.16px;
        font-weight: 400;
        color: #808080;
        margin-bottom: -1rem;
    }
    
    .About_us .about_right .about_right_contener {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    
    .About_us .about_right .about_right_contener h1 {
        font-weight: bold;
        font-size: 22px;
        line-height: 54px;
        letter-spacing: 0.162793px;
        color: #FFFFFF;
        margin-bottom: -0.5rem;
    }
    
    .About_us .about_right .about_right_contener p {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.162793px;
        color: #FFFFFF;
        text-align: justify;
        text-justify: inter-word;
    }
    
    .About_us .about_right .about_us_drone {
        width: 60px;
        position: absolute;
        top: -45rem;
        right: 0;
    }


    /* Brand_Partners */
    .Brand_Partners {
        width: 100%;
        height: 370px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1c1c1c;
        padding: 10px;
    }
    
    .Brand_Partners_left {
        width: 100%;
       margin-top: 0.5rem;
    }
    
    
    .Brand_Partners_right {
        width: 100%;
        margin-top: -5rem;
        margin-left: 3rem;
    }
    
    
    .Brand_Partners .Brand_Partners_right p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.162793px;
        color: #808080;
        margin-bottom: -1rem;
        /* margin-left: -6rem; */
    }
    
    .Brand_Partners .Brand_Partners_right h1 {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.162793px;
        color: #FFFFFF;
        word-wrap: break-word;
    }
    
    .Brand_Partners .Brand_Partners_right img {
        width: 150px;
        margin-top: -1rem;
       margin-left:40px;
       margin-bottom: 2rem;
    }





 /* Testimonial */

 .Testimonial {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
    background-color: black;
   

}


.Testimonial .Carousel {
    width: 100%;
    position: relative;
    z-index: 2;
}



.Testimonial>p {
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin-bottom: -1rem;
    z-index: 10;
}



.Testimonial h1 {
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;
    z-index: 10;
    width: 100%;
    text-align: center;
}

.Testimonial .card {
    margin: auto;
    text-align: left;
    /* margin-top: 2rem; */
    width: 100%;
}

.Testimonial .card img {
    width: 30px;
    object-fit:contain;
}

.Testimonial .card .client img {
    width: 45px;
    border: 6px solid #396ba9;
    object-fit:cover;
}

.Testimonial .card .client {
    margin-top: 1rem;
    display: flex;
    gap: 10px;
    color: white;
    margin-left: 2rem;
}

.Testimonial .card .client .name {
    font-size: 14px;
    margin-bottom: 0px;
}

.Testimonial .card h2 {
    font-weight: 400;
    font-size: 15px;
    text-align: left;
    padding-bottom: 25px;
    color: white;
}

.Testimonial .card p {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.162793px;
    color: white;
}

}