
.Navbar{
    width: 100vw;
    display: flex;
    /* gap: 10rem; */
    justify-content: space-between;
    padding: 0 5rem;
    align-items: center;
    background-color:rgba(0, 0, 0,0.7);
    
}

.left_nav{
    width: 18vw;
    height: 100%;
    justify-content: center;
}

.left_nav img{
    width: 100%;
}



.right_nav{
    width: 55vw;
}


.right_nav ul{
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
}

.right_nav ul a{
    text-decoration: none;
    font-size: 17px;
    /* font-weight: bold; */
    line-height: 30px;
    padding: 0 5px;
    display: flex;
    align-items: center;
}

.right_nav ul li{
    float: left;
    position: relative;
    text-align: center;
    margin-left: 15px;
}



.right_nav ul ul{
    position: absolute;
    width: 300px;
    opacity: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background:rgb(235, 243, 234);
    padding:10px 10px;
    top: -60px;
    left: 0;
    transition: all 1s;
}


.right_nav ul ul li{
    float: none;
    margin-bottom: 10px;
    color: black;
    background-color: aqua;
}

/* .right_nav ul ul li:hover{
    color: black;
}
.right_nav ul ul li:hover{
    color: black;
    
} */
.right_nav ul ul ul{
    top: 0;
    left: 100%;
    position: absolute;
}

/* .right_nav ul li:hover>ul{
    opacity: 1;
    top: 100%;
} */