.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 5rem;
    box-sizing: border-box;
}

.nav_list {
    display: flex;
    list-style: none;
}

.nav_item {
    position: relative;
    transition: all 1s ease;
}

.nav_item:hover .dropdown {
    display: block;
}

.nav_list li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

.nav_list li a:hover {
    background-color: #555;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    width: 300px;
    height: 150px;
}

.dropdown a {
    display: block;
    padding: 8px 16px;
    margin-top: 1rem;
}

.dropdown a:hover {
    background-color: #555;
    border-right: 3px solid red;
}

.logo {
    width: 18vw;
}


.logo img{
    width: 100%;
}