* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.drone {
    background: rgba(24, 24, 24, 1);
}

.part1 {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background: url("../../Photos/banner_1.jpg");
}

.part1>h1 {
    font-size: 66px;
    line-height: 99px;
    letter-spacing: 0.16px;
    background: none;
}

.part1>p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.16px;
    background: none;
}




.secand_part {
    width: 90%;
    margin: auto;
    background: rgba(24, 24, 24, 1);
}

.info {
    display: flex;
    flex-direction: column;
    background: none;
    background: rgba(24, 24, 24, 1);
}

.info>p {
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    letter-spacing: 0.16;
    word-wrap: break-word;
    background: transparent;
    padding-top: 25px;
    padding-bottom: 30px;
}


.contaner {
    padding-bottom: 30px;
    background: rgba(24, 24, 24, 1);
}


.heading {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0.16px;
    padding-bottom: 20px;
    background: rgba(24, 24, 24, 1);
}
.product {
    display: flex;
    gap: 40px;
    background: rgba(24, 24, 24, 1);
}

.product img {
    width: 800px;
    height: 300px;
    object-fit: cover;
}

.product .Img_two {
    height: 550px;
    margin-left: 2px;
    margin-top: 50px;
    width: 700px;

}
.product .Img_three {
    width: 469px;
    height: 368px;
}

.product_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 700px;
}



.product_info>p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16;
    font-weight: 400;
    word-wrap: break-word;
    width: 600px;
}
.product_info>ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
    width: 500px;
    margin-top: 15px;
    padding-left: 12px;
}

.product_info>ul>li {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.16px;
}


.product_info a {
    width: 25%;
}

.product_info .btn {
    position: relative;
    height: 60px;
}

.product_info .btn div {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #396ba9;
}

.product_info .btn h2 {
    position: absolute;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0.16px;
    width: 100%;
    top: 0;
    left: 10px;
}

.card_info {
    text-align: center;
}
.card_info h1 {
    text-align: center;
}
.card1 {
    /* text-align: center; */
    margin-left: 60px;
    margin-right: 60px;
}
.Img_two {
    margin-left: 30%;
    width: 500px;
    height: 250px;
    margin-top: 4%;
}