* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.development {
    background: rgba(24, 24, 24, 1);
    position: relative;
}

p{
    color: #d1d0d0;
}

.first_part {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background: url("../../Photos/banner_3.jpg");
    background-size: cover;
    background-position: center;
    
}

.first_part>h1 {
    font-size: 66px;
    line-height: 99px;
    letter-spacing: 0.16px;
    background: none;
}

.first_part>p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.16px;
    background: none;
    color: white;
}


.secand_part {
    width: 100%; 
    padding: 2rem 5rem;
    overflow: hidden;
}

.info {
    display: flex;
    flex-direction: column;
    background: transparent;
    background: rgba(24, 24, 24, 1);
}

.info>p {
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    letter-spacing: 0.16;
    word-wrap: break-word;
    background: transparent;
    padding-top: 25px;
    padding-bottom: 30px;
}


.contaner {
    padding-bottom: 30px;
    position: relative;
    /* background-image: url("../../Photos/Rectangle 41.png");
    background-size: cover;
    background-position: center;
*/
}


.watermark4{
    position: absolute;
    top: 3rem;
    right: -8rem;
    font-weight: 400;
    font-size: 116px;
    line-height: 174px;
    letter-spacing: 4.77526px;
    color: #FFFFFF;
    opacity: 0.02;
}


.heading {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0.16px;
    padding-bottom: 20px;
    background: rgba(24, 24, 24, 1);
}
.heading1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0.16px;
    padding-bottom: 20px;
    background:transparent;
    position: relative;
}

.heading1::after {
    content: "";
    position: absolute;
    left: 22%;
    bottom: 2.8rem;
    height: 2px;
    width: 50px;
    background-color: #396ba9;
}
.heading2 {
    margin-top: -5rem;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.16px;
    background:transparent;
    position: relative;
}

.heading2::after {
    content: "";
    position: absolute;
    right: 3rem;
    bottom: 1.5rem;
    height: 2px;
    width: 50px;
    background-color: #396ba9;
}
.heading3 {
    font-size: 36px;
    width: fit-content;
    font-weight: 600;
    letter-spacing: 0.16px;
    background:transparent;
    position: relative;
}

.heading3::after {
    content: "";
    position: absolute;
    right: -5rem;
    bottom: 1.5rem;
    height: 2px;
    width: 50px;
    background-color: #396ba9;
}
.heading4 {
    font-size: 36px;
    width: fit-content;
    font-weight: 600;
    letter-spacing: 0.16px;
    background:transparent;
    position: relative;
    padding-top: 2rem;
}

.heading4::after {
    content: "";
    position: absolute;
    right: -5rem;
    bottom: 1.5rem;
    height: 2px;
    width: 50px;
    background-color: #396ba9;
}
.heading5 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.16px;
    background:transparent;
    position: relative;
}

.heading5::after {
    content: "";
    position: absolute;
    right: 40rem;
    bottom: -1rem;
    height: 2px;
    width: 60px;
    background-color: #396ba9;
}
.heading6 {
    width: fit-content;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.16px;
    background:transparent;
    position: relative;
}

.heading6::after {
    content: "";
    position: absolute;
    right: -5rem;
    bottom: 1rem;
    height: 2px;
    width: 60px;
    background-color: #396ba9;
}

.contaner_card4{
    width: 100vw !important;
    margin-left: -5rem;
    padding-left: 5rem !important;
    object-fit: cover;
    background: url("../../Photos/background_4.png");
    background-size: cover;
    background-position: center;
    padding-top: 2rem;
}

.contaner_card4 .product{
    background: none;
}

.contaner_card4 .product_info{
    margin-left: -2rem;
    padding-right: 5rem;
    background: none;
}

.product {
    display: flex;
    gap: 170px;
    background: rgba(24, 24, 24, 1);
}

.product img {
    width: 600px;
    height: 600px;
    object-fit: contain;
    margin-bottom: -2rem;
}


.product .Img_three {
    width: 700px;
height: 560px;
}

.product_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 700px;
    margin-top: 100px;
}

.product_info1{
    margin-left: -2rem;
}

.product_info>p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16;
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
}

.product_info>ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 500px;
    margin-top: 15px;
    padding-left: 12px;
}

.product_info>ul>li {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.16px;
    color: #396ba9;
}


.product_info a {
    width: 25%;
}

.product_info .btn {
    position: relative;
    height: 60px;
    width: 150px;
}

.product_info .btn div {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #396ba9;
}

.product_info .btn h2 {
    position: absolute;
    font-size: 26px;
    font-weight: 800;
    line-height: 39px;
    letter-spacing: 0.16px;
    width: 100%;
    top: -1rem;
    left: 10px;
}


.main {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 20px;
}

.class2{
    
    text-align: center;
}

.harbour {
    background-color: none;
}

.harbour div p{
    text-align: left;;
}
.harbour .card1 h1{
    padding-left: 10px;
}
.design {
    width: 100%;
    justify-content: center;
    position:relative;
    gap: 100px;
    margin-top: 5rem;
    grid-template-columns: repeat(2, 300px);
    height: 1000px;

}
.card1 {
    border: 2px solid white;
    position: absolute;
    width: 400px;
    height:350px ;
    top: 5px;
    left: 250px; 

}
.card2 {
    border: 2px solid white;
    /* margin-top: 50px; */
    position: absolute;
    width: 400px;
    height:350px ; 
    top: 80px;
    left: 700px;
}
.card3 {
    border: 2px solid white;
    position: absolute;
    width: 400px;
    height:350px ; 
    top: 470px;
    left: 250px;
}
.card4 {
    border: 2px solid white;
    /* margin-top: 100px; */
    position: absolute;
    width: 400px;
    height:350px ;
    top: 550px;
    left: 700px; 
}

.contaner_card2 {
    display: flex;
    width: 100vw;
    height: 100%;
    margin-left: -5rem !important;
    padding-left: 5rem;
    object-fit: cover;
    background: url("../../Photos/banner_3.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 0;
}


.contaner_card2 img {
    object-fit: contain;
    margin-left: -3.5rem;
   z-index: 10;
   width: 800px;
   height: 100%;
}

.contaner_card2 .product{
    background: none;
}


.contaner_card2 .heading {
    margin-top: -5rem;
    width: 500px;
    background: transparent;
}


.contaner_card3{
    position: relative;
}

.watermark3{
    position: absolute;
    bottom: 1rem;
    right: -5rem;
    font-weight: 400;
    font-size: 116px;
    line-height: 174px;
    letter-spacing: 4.77526px;
    color: #FFFFFF;
    opacity: 0.02;
}

.contaner_card3 .product_info{
    margin-left: -4rem;
}
.contaner_card3 .product_info p{
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
}


.contaner_card4{
    position: relative;
}

.watermark2 {
    position: absolute;
    top: 1rem;
    right: -5rem;
    font-weight: 400;
    font-size: 116px;
    line-height: 174px;
    letter-spacing: 4.77526px;
    color: #FFFFFF;
    opacity: 0.02;
}




.harbour1{
    padding-left: 5.5rem;
    width: 100vw !important;
    margin-left: -5rem;
    object-fit: cover;
    background: url("../../Photos/banner_3.jpg");
    background-size: cover;
    background-position: center;
}

.harbour2{
    position: relative;
}

.harbour2 .watermark {
    position: absolute;
    top: 1rem;
    right: -5rem;
    font-weight: 700;
    font-size: 645.333px;
    line-height: 968px;
    letter-spacing: 4.77526px;
    color: #FFFFFF;
    opacity: 0.02;
}

.harbour2 .heading{
    text-align: center;
}


.card1 img {
    margin-top: 30px;
    margin-left: 10px;
}
.card1 h3{
    margin-top: 15px;
    margin-left: 10px;
    
}
.card1 p{
    margin-top: 25px;
     margin-left:10px ;
     margin-right:10px ;
}
.card2 img {
    margin-top: 40px;
    margin-left: 10px;
}
.card2 h1{
    margin-top: 15px;
    margin-left: 10px;
}
.card2 p{
    margin-top: 30px;
     margin-left:10px ;
     margin-right:10px ;
}
.card3 img {
    margin-top: 30px;
    margin-left: 10px;
}
.card3 h1{
    margin-top: 15px;
    margin-left: 10px;
}
.card3 p{
    margin-top: 25px;
     margin-left:10px ;
     margin-right:10px ;
}
.card4 img {
    margin-top: 30px;
    margin-left: 10px;
}
.card4 h1{
    margin-top: 15px;
    margin-left: 10px;
}
.card4 p{
    margin-top: 25px;
     margin-left:10px ;
     margin-right:10px ;
}

.card_border_1{
    border: 2px solid red;
    width: 350px;
    height: 200px;

    
}
.card_border_1 h3{
    margin-left: 10px;
    

}
.card{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}

.class1 {
    padding-left: 30px;
    padding-right: 30px;
    border-left: 1px solid;
    border-right: 1px solid;

}

.testimg1 {
    display: flex;
    gap: 100px;
}

.project {
    display: grid;
 
    width: 100%;
    justify-content: center;
    position:relative;
    gap: 100px;
    margin-top: 5rem;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(2,350px);
    height: 1000px;
}




.card5 {
    border: 2px solid white;
}
.card5 img {
    margin-top: 30px;
    margin-left: 10px;
}
.card5 h1{
    margin-top: 15px;
    margin-left: 10px;
}
.card5 p{
    margin-top: 25px;
     margin-left:10px ;
     margin-right:10px ;
}

.harbour .design h1{
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
}



.contaner .main h1{
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
}

.harbour .project h1{
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
}




.num{
    object-fit: contain;
}