.main {
    width: 90%;
    height: 200px;
    margin: auto;
    /* position: relative; */
}


.Blog_2{
    position: relative;
}

.tag1 {
    position: absolute;
    left: 0;
    top: -25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.162793px;
    color: #808080;
}

.ourblog {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 25rem;
    grid-template-columns: repeat(2,1fr);
    justify-content:space-between;
    align-items: center;
    /* border: 1px solid ; */
    /* position: relative; */
}

.totalTag {
    /* width: 400px; */
    height: 200px;
    /* border: 1px solid red; */
}

.Blog_2{
    /* border: 1px solid; */
    /* text-align: right; */
}

.tag6 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.162793px;
    color: #FFFFFF;
}

/* =================================================================================================*/