* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.drone {
    background: rgba(24, 24, 24, 1);
}

.part1 {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background: url("../../Photos/banner_3.jpg");
    background-size: cover;
    background-position: center;
}

.part1>h1 {
    font-size: 66px;
    line-height: 99px;
    letter-spacing: 0.16px;
    background: none;
}

.part1>p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.16px;
    background: none;
}




.secand_part {
    width: 100%;
    padding: 2rem 5rem;
    background: rgba(24, 24, 24, 1);
    position: relative;
}

.info {
    display: flex;
    flex-direction: column;
    background: none;
    background: rgba(24, 24, 24, 1);
}

.info>p {
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    letter-spacing: 0.16;
    word-wrap: break-word;
    background: transparent;
    /* padding-top: 25px;
    padding-bottom: 30px; */
}


.contaner {
    padding-bottom: 30px;
    background: rgba(24, 24, 24, 1);
}


.water_mark{
    font-size: 100px;
    font-weight:bold;
    position: absolute;
    top: 2rem;
    left: 1rem;
    opacity: 0.1;
    color: rgb(118, 116, 116);
}


.heading1 {
    font-size: 36px;
    font-weight:bold;
    line-height: 54px;
    letter-spacing: 0.16px;
    padding-bottom: 20px;
    background:none;
    width:700px;
    margin-top: 5rem;
}
.heading {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0.16px;
    padding-bottom: 20px;
    background:none;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    /* border: 2px solid; */
    background: rgba(24, 24, 24, 1);
}




.para1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 400px;
}
.para2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10pxpx;
}

.product img {
    width: 800px;
    height: 555px;
    object-fit: cover;
    /* margin-top: 50px; */
}

.product .Img_two {
    height: 570px;
}

.product .Img_three {
    width: 700px;
    height: 600px;
}

.product_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 700px;
    
}

/* .details1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 700px;
    background: url("../../Photos/banner_3.jpg");
    background-size: cover;
    background-position: center;
} */
.details1>p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16;
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
    width: 600px;
}

.project>ul {
    display: grid;
    margin-left: 30px;
    grid-template-columns: repeat(2, 1fr);
    width: 500px;
    margin-top: 15px;
    gap: 2rem;
    list-style: disc;
}

.project>ul>li {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.16px;
}
.project>ul>li {
    color: #396ba9;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.16px;
}

.project>ul>li>p{
   color:white;
}


.details1 a {
    width: 25%;
}

.product_info>p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16;
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
    width: 600px;
}

.product_info>ul {
    display: grid;
    margin-left: 30px;
    grid-template-columns: repeat(2, 1fr);
    width: 500px;
    margin-top: 15px;
    gap: 2rem;
    list-style: disc;
}

.product_info>ul>li {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.16px;
}


.product_info a {
    width: 25%;
}

.product_info .btn {
    position: relative;
    height: 60px;
}

.product_info .btn div {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #396ba9;
}

.product_info .btn h2 {
    position: absolute;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0.16px;
    width: 100%;
    top: -1rem;
    left: 10px;
}


.lastPart .product {
    width: 100vw;
    margin-left: -5rem;
    padding: 0 5rem;
    background: url("../../Photos/banner_3.jpg");
    background-size: cover;
    background-position: center;
}